<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
		<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} ">
		<title>{{ if not .IsHome }}{{ with .Title }}{{ T . }} | {{ end }}{{ end }}{{ T .Site.Title }}</title>
		<link rel="canonical" href="{{ .Permalink }}" />
		<link rel="stylesheet" href="/css/style.css">
		<link rel="shortcut icon" href="/index.ico" />
		{{- if .IsTranslated }}
		{{- range .Translations }}
		<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
		{{- end }}
		{{- end }}
	</head>