<sidebar class="sidebar">
{{ range .Site.Params.menuOrder }}
	{{ $order := . }}
	{{ range where $.Pages "Section" $order }}
				<ul>
					<li><a href="{{ .URL }}">{{ .Name | lower | T }}</a>
				</li>
				</ul>
	{{ end }}
{{ end }}
{{- range .Site.Menus.main }}
	{{- if .HasChildren }}
				<ul>
					<li><a href="#">{{ .Name }}a</a>
				<ul>
		{{- range .Children }}
				<li >
				<a href="{{ .URL }}">{{ .Name }}b</a>
				</li>
		{{ end }}
				</ul>
				</ul>
	{{ else }}
				<ul>
					<li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
	{{- end }}
				</li>
				</ul>
{{- end }}
				{{ partial "i18nlist.html" . }}
			</sidebar>
