<sidebar class="sidebar">
{{ range .Site.Sections }}
				<ul>
					<li><a href="{{ .URL }}">{{ i18n .Name . }}</a>
				</li>
				</ul>
{{ end }}
{{- range .Site.Menus.main }}
	{{- if .HasChildren }}
				<ul>
					<li><a href="#">{{ i18n .Name . }}a</a>
				<ul>
		{{- range .Children }}
				<li >
				<a href="{{ .URL }}">{{ i18n .Name . }}b</a>
				</li>
		{{ end }}
				</ul>
				</ul>
	{{ else }}
				<ul>
					<li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
	{{- end }}
				</li>
				</ul>
{{- end }}
				{{ partial "i18nlist.html" . }}

			</sidebar>